@font-face {
    font-family: 'digital';
    src: url('//gnjo.github.io/04b_08__-webfont.eot');
    src: url('//gnjo.github.io//04b_08__-webfont.eot?#iefix') format('embedded-opentype'),
         url('//gnjo.github.io//04b_08__-webfont.woff2') format('woff2'),
         url('//gnjo.github.io//04b_08__-webfont.woff') format('woff'),
         url('//gnjo.github.io//04b_08__-webfont.ttf') format('truetype');
}
