/*new leto woff*/
@font-face {
    font-family: 'leto';
    src: url('https://gnjo.github.io/leto.woff') format('woff') /*,url('https://gnjo.github.io/leto.otf') format('opentype')*/;
    font-weight: normal;
    font-style: normal;
}
