@font-face {
    font-family: 'leto';
    src: url('https://gnjo.github.io/leto.ttf') format('truetype');
/*    src: url('https://gnjo.github.io/leto.woff2') format('woff2'),
         url('https://gnjo.github.io/leto.woff') format('woff');*/
    font-weight: normal;
    font-style: normal;

}
