@font-face {
    font-family: 'monaco';
    src: url('https://gnjo.github.io/monaco.ttf') format('truetype');
}
@font-face {
    font-family: 'Monaco';
    src: url('https://gnjo.github.io/monaco.ttf') format('truetype');
}
