@font-face {
    font-family: 'monaco';
    src: url('https://gnjo.github.io/monaco-webfont.eot');
  	src: url('https://gnjo.github.io/monaco-webfont.woff') format('woff'),
    url('https://gnjo.github.io/monaco-webfont.woff2') format('woff2')     
}
