/*base-main-sub*/
/*$c is color*/
/*$s is size*/
/* .monocc */
@import url("https://fonts.googleapis.com/css?family=Share+Tech+Mono");
@import url("https://fonts.googleapis.com/css?family=Material+Icons");
.monocc, * {
  box-sizing: border-box;
}

body {
  margin: auto;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

body {
  background-color: #f8f8fa;
}

.monocc {
  width: 100%;
  /*textarea size special*/
  /*nav is flex*/
  /*font*/
  font-family: 'Share Tech Mono',"Hiragino Kaku Gothic Pro",sans-serif;
}
.monocc h1, .monocc h2, .monocc h3, .monocc h4 {
  color: #000000;
}
.monocc p {
  color: #1a1a1a;
}
.monocc a {
  text-decoration: inherit;
  font-style: italic;
  color: #1a1a1a;
}
.monocc pre, .monocc code {
  white-space: pre-line;
}
.monocc pre {
  border: 2px solid #1a1a1a;
  padding: 1rem 1rem;
}
.monocc .button, .monocc .btn, .monocc textarea, .monocc input, .monocc button {
  border: 2px solid #1a1a1a;
  padding: 0.25rem 0.5rem;
  background-color: #ffffff;
  /*white*/
  outline: none;
  margin: 2px;
}
.monocc textarea {
  resize: none;
  width: 100%;
  height: 8rem;
}
.monocc textarea:before {
  content: ' ';
  display: block;
  clear: both;
}
.monocc a:hover, .monocc .btn:hover, .monocc .button:hover, .monocc button:hover {
  cursor: pointer;
  background-color: #ddca7e;
}
.monocc a:active, .monocc button:active {
  background-color: #ddca7e;
}
.monocc ol {
  list-style: decimal-leading-zero;
}
.monocc nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.monocc p {
  font-family: 'Share Tech Mono',"Hiragino Kaku Gothic Pro",sans-serif;
  font-size: 1.5rem;
}
.monocc h1, .monocc h2, .monocc h3, .monocc h4, .monocc h5, .monocc h6 {
  font-family: 'Share Tech Mono',"Hiragino Kaku Gothic Pro",sans-serif;
  font-size: 2rem;
}
.monocc textarea, .monocc input, .monocc button, .monocc pre, .monocc code {
  font-family: 'Share Tech Mono',"Hiragino Kaku Gothic Pro",sans-serif;
}
.monocc li:before, .monocc i {
  font-family: 'Material Icons',monospace;
  font-size: inherit;
  font-style: normal;
  text-decoration: none !important;
}
.monocc i {
  position: relative;
  top: 3px;
  padding-right: 2px;
  font-size: 1.2rem;
}
.monocc li:before, .monocc li > i, .monocc button > i, .monocc input > i, .monocc .button > i,
.monocc span > i {
  position: relative;
  top: 2px;
  padding-right: 2px;
  font-size: 0.8rem;
}
.monocc ul {
  padding-left: 0.4rem;
}
.monocc ul > li:before {
  content: 'stop ';
}
.monocc li, .monocc ul > li {
  list-style: none;
}
.monocc ol > li {
  list-style: inherit;
}

.monocc {
  padding: 4rem;
}

@media screen and (max-width: 767px) {
  .monocc {
    padding: 1.5rem;
  }
}
