  html, body{height: 100%;width:100%}
  body,.split,.gutter{box-sizing: border-box}
  .split.parent{height:100vh;box-sizing:border-box}
  .split{overflow-y: auto;overflow-x: hidden}
  .gutter {}
  .gutter.gutter-horizontal{cursor: col-resize;border-left: 1px solid #00000055;}
  .gutter.gutter-vertical{cursor: row-resize;border-top: 1px solid #00000055;}
  .split.split-horizontal
  ,.gutter.gutter-horizontal {height: 100%; float: left}
/*
  .split.parent:after,.u-cf {
    content: " ";
    display: table;
    clear: both;
}*/
