/*font smooth*/
body{
  -webkit-font-smoothing: antialiased;
}
/*clear fix*/
.cf,.u-cf { content: " "; display: table; clear: both;}
*{box-sizing:border-box;}
/*chrome bar*/
::-webkit-scrollbar{overflow:hidden;width:4px;background:#111;}
::-webkit-scrollbar:horizontal{height:4px;}
::-webkit-scrollbar-button{display:none;}
::-webkit-scrollbar-piece{background:rgba(100,100,100,0.3);}
::-webkit-scrollbar-piece:start{background:rgba(100,100,100,0.3);}
::-webkit-scrollbar-thumb{background:rgba(100,100,100,0.3);}
::-webkit-scrollbar-corner{background:rgba(100,100,100,0.3);}

:selection  {background: #D03E27;}
::-moz-selection {background: #D03E27;}

.full-w{width:100%}

.center-one{
 display: flex; justify-content: center;align-items: center;
 height:100%;width:100%;
}
.center-one input,.center-one>div{
  border:0;
  outline:none;
  background-color:rgba(0,0,0,0.2);
  box-shadow:1px 1px 4px rgba(255,255,255,0.2);
  color:white;
}
 .center-one>div{
    padding:2rem;
 }

.white-layer {
  background-color: rgba(0, 0, 0, 0.1);
}

.cover-image{
 background-repeat:no-repeat;
 background-position: 50% 50%;
 background-size: cover;
}

.scroll-y{overflow-y:scroll}

img.wallpaper{
 position:fixed;
 object-fit:cover;
 object-position:center;
 width:110vw;height:110vh;
 filter: blur(15px);
 overflow:hidden;
 top:-15px;
 left:-15px;
 transform:scale(1.2);
 z-index:-100;
}

.btn.checked{color: rgba(0,0,0,1)}
.btn{
    color:rgba(0,0,0,0.5);
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    display: inline-block;
    box-sizing: border-box;
    font-family:schoolmono,monaco,consolas,monospace;
    /*width: 5rem;*/
    padding:0 0.7rem;
    height: 1.5rem;
    text-align: center;
    margin-bottom: 8px;
    border-radius: 4px;
   transition:box-shadow 0.1s ease-in-out;
}
.btn:hover{
  color: rgba(0,0,0,1);
  box-shadow: 0px 5px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12); 
}
.btn:active{
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.flat{box-sizing:border-box;border:1px solid transparent;outline:none;font-family:consolas,monaco,monospace;padding:0.2rem;width:100%;}
.realize{
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.c7:hover{
 background-color:pink; cursor:pointer;
 animation:hue 5s infinite linear;
}
@keyframes hue{
 0%{filter:hue-rotate(0deg)}
 100%{filter:hue-rotate(-360deg)}
}
